@import "user-variables.scss";

@import "theme/helpers";

@import "./bootstrap/bootstrap.scss";

@import "theme/reboot";
@import "theme/components";
@import "theme/utilities";

@import "user";
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
